// brand colors
$primaryBrandColor: #1D2233;
$secondaryBrandColor: #83276E;
$tertiaryBrandColor: #D72A7C;
$quaternaryBrandColor: rgb(237, 187, 50);

$inputBg: rgba(0,0,0,.05);
$primaryBtn: $secondaryBrandColor; 
$lightText: #ffffff;
$divider: rgba(0,0,0,.1);
$mutedText: rgba(0, 0, 0, .6);
$darkText: #000000;